<link href="../static/css/bootstrap.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>edu Intervention</title>


   <body>
   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: #F2F2F2">edu Intervention</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/AddStudent" style="color: #F2F2F2">Use it!</a>
                    </li>
                    <li>
                        <a href="/About" style="color: #F2F2F2">About</a>
                    </li>
                    <li>
                        <a href="/contact" style="color: #F2F2F2">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <div class="container">
    <div class="jumbotron">
        <h1>edu Intervention</h1>
        <div class="container">

          <p>Risk Evaluation of Students:</p>
           
          <p>Student Mike A has a 81.0% of not completing school</p>
           
          <p>Student Jared C has a 72.0% of not completing school</p>
           
          <p>Student Steve A has a 36.0% of not completing school</p>
           
          <p>Student Rebecca V has a 24.0% of not completing school</p>
           
          <p>Student Whitney S has a 18.0% of not completing school</p>
           
  

         <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
          Suggested Actions
          </button>
          <div id="demo" class="collapse">
           
          <p>Suggested actions for Mike A:</p>
           
          <p>   The student has transferred schools more than once, substantially raising the risk to leaving school.</p>
           
          <p>   The student would benefit from additional tutoring or alternative instruction</p>
           
          <p>Suggested actions for Steve A:</p>
           
          <p>   The student has transferred schools, raising the risk to leaving school.</p>
           
          <p>Suggested actions for Jared C:</p>
           
          <p>   The student has transferred schools more than once, substantially raising the risk to leaving school.</p>
           
          <p>   The student would benefit from additional tutoring or alternative instruction</p>
           
          <p>Suggested actions for Rebecca V:</p>
           
          <p>   The student would benefit from additional tutoring or alternative instruction</p>
           
          <p>Suggested actions for Whitney S:</p>
           
          </div> 
        </div>
        </div>
    </div>
      
  <div class="container">
    <div>
    <hr class="intro-divider">
    <ul class="list-inline intro-social-buttons">
    <li>
    <a href="/AddStudent" class="btn btn-default btn-lg"> <span class="network-name">Add Next Student</span></a>
    </li>
    <li>
    <a href="/clear" class="btn btn-default btn-lg"> <span class="network-name">Clear List</span></a>
    </li>
    </ul>
    </div>
    </div>
    

</body>
